{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="252960280952-f405uflnno97ivk5hlb863e94ulaojr0.apps.googleusercontent.com">

    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <!--<script src="https://www.googleapis.com/auth/plus.login" async defer></script>-->
    <!--<script src="https://apis.google.com/js/client:plusone.js" async defer></script>-->
    <script src="https://apis.google.com/js/client:platform.js?onload=onloaded_gapi" async defer></script>
    
    <script type="text/javascript" src="{% static 'bower_components/modernizr/modernizr.js' %}"></script>
    <script type="text/javascript">

        var STATIC_FILES    = "{% static '' %}";
        var USER_AUTH = {% if user.is_authenticated %}true{% else %}false{% endif %};

        WebFontConfig = {
            google: { families: ['Open+Sans:latin'] }
        };
        (function () {
            var wf = document.createElement('script');
            wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
            '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
            wf.type = 'text/javascript';
            wf.async = 'true';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(wf, s);
        })();
        //Load google api
        function onloaded_gapi()
        {
          //get your angular element
          var elem = angular.element(document.querySelector('[ng-controller]'));
          //get the injector.
          var injector = elem.injector();
          //get the service.
          var myService = injector.get('SocialMediaService');
          //update the service.
          myService.load_gapi_auth();
          //apply the changes to the scope.
          elem.scope().$apply();
        }
    
    </script>
    <style type="text/css">
        .wf-loading * {opacity: 0;}
        .wf-loading {
            background: url("{% static 'img/ajax-loader.gif' %}") no-repeat center center;
            height: 100%;
            overflow: hidden;
        }
        .wf-active *, .wf-inactive * {
        }
    </style>
  <title>pooling</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
</head>

<body ng-app="pooling" ng-controller="WrapperCtrl as vm">

<div layout>
  {% include 'navbar.html' %}
 
    <div layout ui-view></div>
  {% include 'javascripts.html' %}
</div>

</body>
</html>