{% load compress %}
{% load staticfiles %}

{% compress js %}

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/semantic-ui/dist/semantic.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/toastr/toastr.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/js-cookie/src/js.cookie.js' %}"></script>

<!--
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>-->

<script type="text/javascript" src="{% static 'js/pooling.tools.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pooling.forms.js' %}"></script>

<script type="text/javascript" src="{% static 'js/pooling.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pooling.routers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pooling.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/layout.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/index.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/navbar.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/maps.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/services/maps.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/controllers/maps.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/maps/directives/maps.directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/authentication.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/authentication/controllers/register.controller.js' %}"></script>

{% endcompress %}
