<!--<div class="ui page grid">
    <div class="computer tablet only row">    
        <div class="ui fixed menu inverted navbar" role="navigation" >
            <a href="/" class="brand item">CarPooling</a>
            <a href="/" class="active item">Inicio</a>
            {% if user.is_authenticated %}
            <a href="" class="item">{{ user.username }}</a>
            <a href="javascript:void(0)" ng-click="vm.logout()" class="item">Logout</a>
            {% else %}
            <a ui-sref="login" class="item">Login</a>
            <a ui-sref="register" class="item">Register</a>
            {% endif %}
            <a href="" class="item">Contact</a>
            <a class="ui dropdown item">Dropdown
              <i class="dropdown icon"></i>
              <div class="menu ui transition hidden">
                <div class="item">Action</div>
                <div class="item">Another action</div>
                <div class="item">Something else here</div>
                <div class="ui horizontal divider"></div>
                <div class="item">Seperated link</div>
                <div class="item">One more seperated link</div>
              </div>
            </a>
        </div>
    </div>
    <div class="mobile only narrow row">
        <div class="ui inverted navbar menu">
                <a href="" class="brand item">Project Name</a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="reorder icon"></i>
                    </a>
                </div>
            </div>

        <div class="ui vertical navbar menu">
            <a href="/" class="active item">Inicio</a>
            {% if user.is_authenticated %}
            <a href="" class="item">{{ user.username }}</a>
            <a href="javascript:void(0)" ng-click="vm.logout()" class="item">Logout</a>
            {% else %}
            <a ui-sref="login" class="item">Login</a>
            <a ui-sref="register" class="item">Register</a>
            {% endif %}
            <a href="" class="item">Contact</a>
            <a class="ui dropdown item">Dropdown
              <i class="dropdown icon"></i>
              <div class="menu ui transition hidden">
                <div class="item">Action</div>
                <div class="item">Another action</div>
                <div class="item">Something else here</div>
                <div class="ui horizontal divider"></div>
                <div class="item">Seperated link</div>
                <div class="item">One more seperated link</div>
              </div>
            </a>
        </div>
    </div>
</div>  
-->
<!--
    <div class="ui menu grid" role="navigation" ng-controller="NavbarController as vm">
        <nav class="mobile tablet only row">
            <div class="ui fixed inverted navbar menu">
                <a href="" class="brand item">CarPooling</a>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="sidebar icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui vertical navbar menu">
                <a href="" class="active item">Home</a>
                <a href="" class="item">About</a>
                <a href="" class="item">Contact</a>
                <div class="ui item">
                    <div class="text">Dropdown</div>
                    <div class="menu">
                        <a class="item">Action</a>
                        <a class="item">Another action</a>
                        <a class="item">Something else here</a>
                        <a class="ui aider"></a>
                        <a class="item">Seperated link</a>
                        <a class="item">One more seperated link</a>
                      </div>
                </div>
                <div class="menu">
                    {% if user.is_authenticated %}
                    <a href="" class="item">{{ user.username }}</a>
                    <a href="javascript:void(0)" ng-click="vm.logout()" class="item">Logout</a>
                    {% else %}
                    <a href="" ui-sref="login" class="item">Login</a>
                    <a href="" ui-sref="register"  class="item">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <nav class="computer only row">
            <div class="ui inverted fixed menu navbar page grid" role="navigation" >
                <a href="" class="brand item">CarPooling</a>
                <a href="" ui-sref="home" class="active item">Home</a>
                <a href="" class="item">About</a>
                <a href="" class="item">Contact</a>
                <a class="ui dropdown item">Dropdown
                  <i class="dropdown icon"></i>
                  <div class="menu">
                    <div class="item">Action</div>
                    <div class="item">Another action</div>
                    <div class="item">Something else here</div>
                    <div class="ui divider"></div>
                    <div class="item">Seperated link</div>
                    <div class="item">One more seperated link</div>
                  </div>
                </a>
                <div class="right menu">
                    {% if user.is_authenticated %}
                    <a href="" class="item">{{ user.username }}</a>
                    <a href="javascript:void(0)" ng-click="vm.logout()" class="item">Logout</a>
                    {% else %}
                    <a href="" ui-sref="login" class="item">Login</a>
                    <a href="" ui-sref="register"  class="item">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </div>
-->
      <md-button aria-label="Open phone interactions menu" ng-click="vm.toggleRight()" class="md-icon-button">
<md-icon md-font-library="material-icons">dehaze</md-icon>
      </md-button>





<!--
      <a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-post btn-above-all"
  href="#"></a>
-->
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">

      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Sidenav Right</h1>
      </md-toolbar>
      <md-content ng-controller="NavbarController as vm" layout-padding="">
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-autofocus="">
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>