<div class="login_form">
  <!--<form role="form" ng-submit="vm.login()">-->
  <div class="ui one column center aligned grid">
    <div class="column six wide computer sixteen wide tablet mobile form-holder">
      <h2 class="center aligned header form-head">Sign in</h2>
      <form class="ui form login" ng-controller="LoginController as vm"  >
        <div class="field">
        <div class="ui icon input">
          <input id="Email" type="text" ng-model="vm.login.email" placeholder="usuario (email@ejemplo.com)">
          <i class="asterisk red icon"></i>
        </div>
        </div>
        <div class="field">
        <div class="ui icon input">
          <input  id="Password" type="password" ng-model="vm.login.password" placeholder="contraseña">
          <i class="asterisk red icon"></i>
        </div>
        </div>
        <div class="field">

          <button class="ui button large fluid green" ng-click="vm.login()">Ingresar</button>
          <button class="ui facebook button" ng-click="vm.login_fb()"><i class="facebook icon"></i>Ingresar con Facebook</button>
          <button class="ui google button" id="google_login_btn" ng-click="vm.login_g()"><i class="google icon"></i>Ingresar con Google</button>
    <div id="signin-button">new</div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <input type="checkbox">
            <label>Recordarme</label>
          </div>
        </div>

      <div class="ui login error message"></div>
      </form>
    </div>
  </div>
  <!--</form>-->
</div>